.date-item {
  margin-right: 20px;
}
.date-container {
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 5px;
  position: relative;
  input {
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    width: 200px;
  }
  span {
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
  }
}
.date-icon {
  width: 15px;
}
.error {
  border: 1px solid red;
  border-radius: 5px;
  display: flex;
}

@media screen and (max-width: 1100px) {
  .date-item {
    margin-right: 10px;
  }
  .flex {
    input {
      width: 160px;
      font-size: 14px;
    }
  }
}
