@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  overflow-x: hidden;
}
.main {
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  position: relative;
  background-color: #eee;
  overflow-x: hidden;
}
.swiper-pagination {
  position: absolute;
  top: 0;
  height: 20px !important;
}

.swiper-pagination-bullet {
  border-radius: 0 !important;
  transform: rotate(45deg);
  width: 6px;
  height: 6px;
  border: 1px solid black;
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: #333;
}

@media screen and (max-width: 1100px) {
  .multiselect {
    font-size: 14px !important;
  }
  .multiselect-options .multiselect-option {
    font-size: 14px !important;
  }
  .multiselect-placeholder,
  .multiselect-single-label {
    padding-right: 0 !important;
  }
}
